/*--------------------------------------------------------------
## Block Links
--------------------------------------------------------------*/
.wp-block {
    a {
        &:not(.wp-block-button__link):not(.button) {
            border-bottom: 1px solid $color__primary;
            box-shadow: inset 0 -4px 0 0 $color__primary;
            color: $color__link;
            display: inline;
            font-weight: 700;
            text-decoration: none;
            transition: all .25s ease-in;
            
            &:visited {
                color: $color__text-main;
            }
            &:hover,
            &:focus,
            &:active {
                box-shadow: inset 0 -2em 0 0 $color__primary;
                color: $color__link;
            }
        }
    }
}

/*--------------------------------------------------------------
## Blockquote Block
--------------------------------------------------------------*/
.wp-block-quote {
    p {
        @include font-size(1.25);
        margin-bottom: 0.25em;
        
        &:last-of-type {
            margin-bottom: 0.25em;
        }
    }

    &.is-style-large,
    &.is-large {
        border-width: 0;
        padding: 0;

        &:before,
        &:after {
            content: '';
            width: 100%;
            max-width: 100px;
            height: 1px;
            border-bottom: 2px solid $color__background-hr;
            display: inline-block;
            clear: both;
            margin: 1em auto;
        }

        > *:first-child {
            margin-top: 0;
        }

        p {
            font-style: inherit;
        }

        cite {
            display: block;
            text-align: inherit;
        }
    }

    &:not(.is-large) {
        &:not(.is-style-large) {
            border-color: $color__primary;
        }
    }

    &.alignleft {
        padding-left: 0;
    }

    &.alignright {
        blockquote {
            padding-right: 0;
        }
    }
}

/*--------------------------------------------------------------
## Pull Quote Block
--------------------------------------------------------------*/
.wp-block-pullquote {
    margin-bottom: $size__padding-xlarge;
    border-width: 0px;
    text-align: left;
    padding: 0;

    &:not(.has-background) {
        &.is-style-solid-color {
            background-color: $color__secondary-light;
        }
    }

    &.is-style-solid-color {
        border-width: 0px;
        padding: 1.5em 0;

        blockquote {
            max-width: 100%;
            border-width: 0px;

            p {
                @include font-size(1.5);
            }
        }

        &.alignwide {
            p {
                @include font-size(1.5);
            }
        }

        &.alignfull {
            p {
                @include font-size(2);
            }
        }
    }

    p {
        margin-bottom: 1.25em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    blockquote {
        > .editor-rich-text {
            p {
                @include font-size(1.25);
            }
        }
    }

    &.alignwide {
        p {
            @include font-size(1.5);
        }
    }

    &.alignfull {
        p {
            @include font-size(2);
        }
    }
    
    &.alignleft {
        margin: 0 1em 1em 0;
        padding-left: 0;
    }

    &.alignright {
        margin: 0 0 1em 1em;
    }
}


.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
    text-transform: inherit;
}

/*--------------------------------------------------------------
## Cover Image Block
--------------------------------------------------------------*/
.wp-block-cover-image {
    margin-bottom: $size__padding-xlarge;
}

/*--------------------------------------------------------------
## Separator
--------------------------------------------------------------*/
.wp-block-separator {
    margin: $size__padding-xlarge auto;
    border-color: $color__background-hr;
    border-bottom-width: 1px;

    &.is-style-wide {
        border-bottom-width: 1px;
    }
}

/*--------------------------------------------------------------
## Block Button
--------------------------------------------------------------*/
.wp-block-button {
    .wp-block-button__link {
        border-radius: 4px;
    }
}

.wp-block-button__link {
    &:not(.has-background) {
        background-color: $color__primary;

            &:hover {
                background: rgba( $color__primary, .25 );
                color: darken( $color__primary, 30% );
            }

            &:active,
            &:focus {
                background: rgba( $color__primary, .25 );
                color: darken( $color__primary, 30% );
	        }
    }

    &:not(.has-text-color) {
        color: $color__text-main;
    }
}

/*--------------------------------------------------------------
## Media & Text
--------------------------------------------------------------*/
.wp-block-media-text {
 
    &.stack-on-mobile {
        @media #{$break-medium-up} {
            display: block;
        }

        .wp-block-media-text__content {
            margin-top: 0;
            padding-right: 0px;

            @media #{$break-medium-up} {
                margin-top: 2em;
                padding: 0;
            }
        }

        &.has-media-on-the-right{
            .wp-block-media-text__content {
                padding-right: 8%;
                padding-left: 0px;
                
                @media #{$break-medium-up} {
                    padding: 0;
                }
            }
        }
    }

    .wp-block-media-text__content {
        padding-right: 0px;
    }

    &.has-media-on-the-right{
        .wp-block-media-text__content {
            padding-right: 8%;
            padding-left: 0px;
        }
    }
}

.wp-block-media-text__content {
    > *:first-child {
        margin: 0;
    }
}

/*--------------------------------------------------------------
## Columns
--------------------------------------------------------------*/
.wp-block-columns {
    &.alignfull {
        padding: 0 20px;

        @media #{$break-medium} {
            padding: 0 40px;
        }
    }

    // Fixing some funkiness with alignfull and alignwide Media & Text blocks inside columns
    .wp-block-media-text {
        &.alignfull,
        &.alignwide {
            width: 100%;
            margin-left: 0;
            transform: translateX(0);
            max-width: 100%;

            img {
                width: 100%;
            }
        }

        &.alignwide {
            @media #{$break-medium} {
                max-width: 100%;
            }

            @media #{$break-large} {
                width: 100%;
                margin-left: 0;
                transform: translateX(0);
                max-width: 100%;
            }
        }
    }
}

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/
.wp-block-latest-posts {
    list-style-type: none;
    padding-left: 0;

    li {
        margin-bottom: 1.5em;
    }

    a {
        @include font-size(1.777);
        line-height: 1.25;

        @media #{$break-medium} {
            @include font-size(2.369);
        }
    }

    &.columns-2,
    &.columns-3 {
        a {
            @include font-size(1.333);

            @media #{$break-medium} {
                @include font-size(1.777);
            }
        }
    }

    &.columns-4,
    &.columns-5 {
        a {
            @include font-size(1.125);

            @media #{$break-medium} {
                @include font-size(1.333);
            }
        }
    } 
}

.wp-block-latest-posts__post-date {
    color: $color__secondary;
}