ul, ol {
	margin: 0 0 1.5em 0;
	padding-left: 20px;

	ul, ol {
		padding-left: 30px;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li {
	margin-bottom: 0.5em;

	&:last-child {
		margin-bottom: 0;
	}
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
