.content-area-full {

	.alignfull,
	.alignwide {
		width: 100vw;
		margin-left: calc( 50% - 50vw );
		max-width: none;

		img {
			width: 100%;
		}
	}

	.alignwide {
		width: 1024px;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -512px;
		margin-right: -512px;

		@include media($break1023) {
			width: 100vw;
			left: auto;
			right: auto;
			margin-left: calc( 50% - 50vw );
		}
	}

}

.wp-block-cover-image.alignleft, 
.wp-block-cover-image.alignright, 
.wp-block-embed.alignleft, 
.wp-block-embed.alignright, 
.wp-block-pullquote.alignleft,
.wp-block-pullquote.alignright {
	max-width: 45%;
	width: 100%;
	
	@include media($mobile) {
		max-width: 100%;
		width: 100%;
	}
}

.wp-block-image {
	&.alignleft {
		margin-right: 1.5em;
	}
	&.alignright {
		margin-left: 1.5em;
	}
}