/*--------------------------------------------------------------
## Audio Block
--------------------------------------------------------------*/
.wp-block-audio {
    audio {
        width: 100%;
    }
}

/*--------------------------------------------------------------
## Blockquote Block
--------------------------------------------------------------*/
.wp-block-quote {
    margin: 0 0 1em;

    p {
        @include font-size(1.55);
        margin-bottom: 0.25em;
        
        &:last-of-type {
            margin-bottom: 0.25em;
        }
    }

    &.is-style-large,
    &.is-large {
        border-width: 0;
        padding: 0;

        &:before,
        &:after {
            content: '';
            width: 100%;
            max-width: 100px;
            height: 1px;
            border-bottom: 2px solid $color__background-hr;
            display: inline-block;
            clear: both;
            margin: 1em auto;
        }

        > *:first-child {
            margin-top: 0;
        }

        p {
            font-style: inherit;
        }

        cite {
            display: block;
            text-align: inherit;
        }
    }
}

/*--------------------------------------------------------------
## Pull Quote Block
--------------------------------------------------------------*/
.wp-block-pullquote {
    border-width: 0px;
    text-align: left;
    padding: 0;

    blockquote {
        margin: 0;
    }

    &.is-style-solid-color {
        border-width: 0px;
        padding: 1.5em 0;

        blockquote {
            max-width: 100%;
            border-width: 0px;
        }
    }

    p {
        margin-bottom: 1.25em;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
    
    &.alignleft {
        margin: 0 1em 1em 0;
        padding-left: 0;
    }

    &.alignright {
        margin: 0 0 1em 1em;
    }
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
    text-transform: inherit;
}

/*--------------------------------------------------------------
## Cover Image Block
--------------------------------------------------------------*/
.wp-block-cover {
    display: flex;
    align-items: center;

    .wp-block-cover-text {
        margin-top: 0;
    }
}

.wp-block-cover-image .wp-block-cover-image-text, .wp-block-cover-image .wp-block-cover-text, .wp-block-cover-image h2, .wp-block-cover .wp-block-cover-image-text, .wp-block-cover .wp-block-cover-text, .wp-block-cover h2 {
    position: relative;
}

/*--------------------------------------------------------------
## Block Button
--------------------------------------------------------------*/
.wp-block-button {
    .wp-block-button__link {
        border-radius: 4px;
    }
}

.wp-block-button__link {
    &:not(.has-background) {
        background-color: $color__primary;

            &:hover {
                background: $color__primaryShade;
            }

            &:active,
            &:focus {
                background: $color__primaryShade;
	        }
    }

    &:not(.has-text-color) {
        color: $white;
    }
}

/*--------------------------------------------------------------
## Media & Text
--------------------------------------------------------------*/
.wp-block-media-text {
 
    &.stack-on-mobile {
        @include media($tablet) {
            display: block;
        }

        .wp-block-media-text__content {
            margin-top: 0;
            padding-right: 0px;

            @include media($tablet) {
                margin-top: 2em;
                padding: 0;
            }
        }

        &.has-media-on-the-right{
            .wp-block-media-text__content {
                padding-right: 8%;
                padding-left: 0px;
                
                @include media($tablet) {
                    padding: 0;
                }
            }
        }
    }

    .wp-block-media-text__content {
        padding-right: 0px;
    }

    &.has-media-on-the-right{
        .wp-block-media-text__content {
            padding-right: 8%;
            padding-left: 0px;
        }
    }
}

.wp-block-media-text__content {
    > *:first-child {
        margin: 0;
    }
}

/*--------------------------------------------------------------
## Columns
--------------------------------------------------------------*/
.wp-block-columns {
    &.alignfull {
        padding: 0 40px;

        @include media($tablet) {
            padding: 0 20px;
        }
    }

    // Fixing some funkiness with alignfull and alignwide Media & Text blocks inside columns
    .wp-block-media-text {
        &.alignfull,
        &.alignwide {
            width: 100%;
            margin-left: 0;
            transform: translateX(0);
            max-width: 100%;

            img {
                width: 100%;
            }
        }

        &.alignwide {
            width: 100%;
            margin-left: 0;
            transform: translateX(0);
            max-width: 100%;

            @include media($tablet) {
                max-width: 100%;
            }
        }
    }
}

/*--------------------------------------------------------------
## Latest Posts
--------------------------------------------------------------*/
.wp-block-latest-posts {
    list-style-type: none;
    padding-left: 0;

    li {
        margin-bottom: 1.5em;
    }
}